.box {
    width: 200px;
    height: 100px;
    background-color: aquamarine;
  }

  .error {
    border: 1px solid red;
  }

  .blinker {
    animation: flash 3s;
    animation-iteration-count: infinite;
  }

  .font-arial {
    font-family: 'arial', sans-serif;
  }

  @keyframes flash {
    from {
      background-color: white;
    }
    to {
      background-color: tomato;
    }
  }